.header{
    background: #F4367C;
    color: white;
    font-size: 14px;
  }
  .storeName{
      font-size: 16px;
      
  }
  .title{
      font-size: 18px;
  }
  .pic{
      margin-right: 20px;
      width: 8px;
  }