.money-card{
    margin: 0;
    padding: 7px 5px;
    border-radius: 0;
    font-size: 13px;
   
}
.details-bg{
    background:rgb(233, 230, 230);
    width: 100%;
    height: 100%;
    font-size: 12px;
}
.header{
    background: rgba(243,54,124,1);
    color: white;
    font-size: 16px;
}
.head-left{
    font-size: 14px;
    font-weight: bolder;
}
.head-right{
    color:rgba(243,54,124,1);
}