<ion-header>
  <ion-toolbar color="pink">
    <ion-grid>
      <ion-row>
          <ion-col class="store"  (click)='back()'>
              <img src="../../assets/首页/back.png" alt="" [ngStyle]="{width:'12px',verticalAlign:'bottom',marginRight:'8px'}"
             > 店铺简介
          </ion-col>

        <ion-col>
          <div class="" text-right (click)='save()'>保存</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wx-content">
        <div class="wx-word">
            <ion-label position="stacked"></ion-label>
            <ion-textarea rows="6" cols="20" placeholder="请输入店铺介绍" [(ngModel)]="storeIntroduce" maxlength='40' id='txt'></ion-textarea>
           
        </div>
  </div>
  
</ion-content>

