.money-card{
    margin: 0 0 20px 0;
    padding: 10px 5px;
    border-radius: 0;
    font-size: 13px;
   
}
.money-card span{
    padding: 0 10px;
    color: rgba(153,153,153,1);
}
.money-card b{
    padding: 0 10px;
   
}
.header{
    background: rgba(243,54,124,1);
    color: white;
    font-size: 16px;
}
.bank{
    font-weight: bold;
}
.bindWeChatCss{
    font-weight: bold;
    color: #333333 !important;
}