.money-card{
    margin: 0 0 20px 0;
    padding: 10px 5px;
    border-radius: 0;
    font-size: 13px;
    font-weight: bolder;
}
.header{
    background: rgba(243,54,124,1);
    color: white;
    font-size: 16px;
}
.money-card .choose{
    color: rgba(153,153,153,1)；
}
.customer-money{
    padding: 10px 0;
}
.uls{
    padding: 0 10px;
    font-size: 12px;
    color: rgba(102,102,102,1);
}
.witch{
    color: rgba(243,54,124,1);
}