<ion-header>
  <ion-toolbar color="pink" (click)='back()'>
    <img src="../../assets/首页/back.png" alt="" [ngStyle]="{width:'12px',verticalAlign:'bottom',marginRight:'8px'}">
    修改密码
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="phone">
    修改密码
  </div>
  <div>
    <div class="inp">
      <ion-row>
        <ion-col>
          <ion-input placeholder="请输入修改密码" [(ngModel)]="newPassword" type='password' minlength="6" maxlength="10"></ion-input>
        </ion-col>
      </ion-row>
      <mat-divider></mat-divider>
    </div>
    <div class="inp">
      <ion-input placeholder="请确认修改密码" [(ngModel)]="newPassword1" type='password'></ion-input>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="btn" (click)='changePassword()'>
    确认修改
  </div>
</ion-content>