.header{
    background: #F4367C;
    color: white;
    font-size: 14px;
  }
  .storeName{
      font-size: 16px;
      
  }
  .title{
      font-size: 18px;
  }
  .pic{
      margin-right: 10px;
      width: 8px;
  }
  .wx-content{
      background: #F3F3F3;
      height: 100%;
      width: 100%;
  }
  .wx-word{
      background: white;
  }
  .btn{
      background: #F4367C;
  }