.header{
    background: rgba(243,54,124,1);
    color: white;
    font-size: 16px;
}
.introduce{
    padding: 10px  10px;
    font-size: 13px;
    line-height: 24px;
    
}
.introduce>div{
    font-size: 16px;
    font-weight: bolder;
    
}