<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col text-right class="password" (click)='login()'>
        验证码登录
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <div class="phone">
    手机密码登录
  </div>
  <div>
    <div class="inp">
      <ion-row>
        <ion-col size='2' [ngStyle]="{lineHeight: '40px',fontSize:'16px'}">
          +86
        </ion-col>
        <ion-col size="10">
          <ion-input placeholder="请输入手机号" [(ngModel)]="tel" minlength="11" maxlength="11"></ion-input>
        </ion-col>
      </ion-row>
      <mat-divider></mat-divider>
    </div>
    <div class="inp" >
      <ion-input placeholder="请输入密码" [(ngModel)]="passwords" type='password' ></ion-input>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="btn" (click)='password()'>
    登录
  </div>
  <div>
    <ion-row >
      <ion-col text-right>
        —
      </ion-col>
      <ion-col text-center>
        社交账号登录
      </ion-col>
      <ion-col text-left >
        —
      </ion-col>
    </ion-row>
    <ion-row >
     
      <ion-col text-right class="line">
        <img src="../../../assets/登录/微信.png" alt="" (click)='wechatLogin2()'>
      </ion-col>
      <!-- <ion-col text-center class="line">
        <img src="../../../assets/登录/qq.png" alt="" [ngStyle]="{width: '14px'}" (click)='test()'>
       </ion-col> -->
      <!-- <ion-col text-left class="line">
        <img src="../../../assets/登录/微博.png" alt="" (click)="wechatLogin()">
      </ion-col> -->
    </ion-row>
    <!-- <div class="three">
      <span text-right>  <img src="../../../assets/登录/微信.png" alt=""></span>
      <span>   <img src="../../../assets/登录/qq.png" alt="" ></span>
      <span text-left><img src="../../../assets/登录/微博.png" alt=""> </span>
    </div> -->
  </div>
  <div class="policy">
    登录注册代表同意<span (click)='agreement()'>用户协议、隐私政策</span>
  </div>
</ion-content>

