.header{
    background: rgba(243,54,124,1);
    color: white;
    font-size: 16px;
}
.blur{
    background: #EFEFEF;
}
.classes{
    margin: 20px 0;
}
.num{
    font-weight: bold;
    font-size: 22px;
}
.classes span{
    font-size: 20px;
    line-height: 16px;
    font-weight: bold;
}
.sevenDay{
    color: rgba(243,54,124,1);
    font-size: 14px;
}
.yesterday{
    color: rgba(102,102,102,1);
    font-size: 12px;
}
.order{
    font-size: 24px;
    line-height: 40px;
    color:  rgba(102,102,102,1);
}
.className{
    font-size: 14px;
    overflow: hidden;
    color: black;
}
.className p{
   color: rgba(102,102,102,1);
}

