// Ionic Variables and Theming. For more info, please see:
// https://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** pink **/
  --ion-color-pink:rgba(243,54,124,1);
  --ion-color-pink-rgb: 56, 128, 255;
  --ion-color-pink-contrast: #ffffff;
  --ion-color-pink-contrast-rgb: 255, 255, 255;
  --ion-color-pink-shade: #e9437a;
  --ion-color-pink-tint: #ff4c88;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  // 提示语
  .toast-exhibitor{
    width:300px;
    left: 0;
    right: 0;
    top: 10%;
    margin: 0 auto;
    text-align: center;
    opacity: 0.3;
   
  }
  // 登录
.login{
  width:300px;
  left: 0;
  right: 0;
  top: 11%;
  margin: 0 auto;
  text-align: center;
  opacity: 0.7;
}
// 复制
.cp{
  width:150px;
  left: 0;
  font-size: 16px;
  right: 0;
  
  margin: 0 auto;
  text-align: center;
  
}


.sc-ion-modal-ios-h{
    background: #3a423d96;
  }

  .modal-wrapper.sc-ion-modal-md{
    --background: #3a423d96;
  }



// 认证信息
.msg-tip{
  width:300px;
  left: 0;
  right: 0;
  top: 11%;
  margin: 0 auto;
  text-align: center;
  opacity: 0.5;
}


  .toolbar-md {
    min-height: 67px !important;//47px的头部改成67px
}


ion-segment-button{
  min-height: 14px;
    font-size: 13px;
    line-height: 20px;
}
ion-header {
    padding-top: 20px;//标题向上留20px
}
ion-content{
  padding-top: 15px;
}

.back-button.show-back-button {
    padding-top: 20px;//返回箭头下降20px
}
//iOS头部加20px
.toolbar-ios {
    min-height: 66px !important;
}
ion-backdrop{
  display: none;
}  


}
