<ion-header>
    <ion-toolbar color="pink" (click)='back()'>
      <img src="../../assets/首页/back.png" alt=""  [ngStyle]="{width:'12px',verticalAlign:'bottom',marginRight:'8px'}" >店铺消息
      
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="ss">
    <ion-card >
      
      <ion-card-content class="sizes">
        <div class="size">
            用户名
        </div>
        亲,口红可以包邮吗
      </ion-card-content>
    </ion-card>

  </div>
  
  <div>
    <ion-card >
      
      <ion-card-content text-right class="sizes">
          <div class="size">
              自己
          </div>
        亲,不可以的
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>

