
.header{
    background: #F4367C;
    color: white;
    font-size: 14px;
  }
  .storeName{
      font-size: 16px;
     
      
  }
  .msg{
      color:rgba(153,153,153,1);
      font-size: 14px;
  }
 